@media (max-width: 768px) {
    .footer {
        flex-direction: column;
        text-align: center;

        .footer-navbar {
            justify-content: center;
        }

        .contacto-footer {
            text-align: center;
            margin-top: 20px;
        }
    }
}

@media (max-width: 768px) {
    .menu-nav {
        display: none;
        flex-direction: column;
        background-color: #333;
        position: absolute;
        top: 100%;
        right: 0;
        width: 200px;
    }

    &.show {
        display: flex;
    }

    #toggle:checked + label + .menu-nav {
        display: flex;
    }

    label[for="toggle"] {
        display: block;
    }
}

@media (max-width: 768px) {
    .section-contact-wahatsapp,
    .section-contact-email,
    .section-contact-ubication {
        flex: 1 1 100%;
    }
}


@media (max-width: 768px) {
    .services-container {
        .container-card {
            flex: 1 1 100%;
            max-width: 100%;
        }
    }
}
/** -----------------------------**/